In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

4. Using the pandas `read_csv()` method, read the GDP dataset into your notebook as a DataFrame called `gdp_df`. Take a look at the first few and last few rows to familiarize yourself with what is contained in this dataset.

In [3]:
gdp_df = pd.read_csv(r'C:\DA12\Projects\un-python-ryanhartman247\data\gdp_percapita.csv')

5. How many rows and columns are in `gdp_df`? What are the data types of each column?

In [5]:
type(gdp_df)

pandas.core.frame.DataFrame

In [28]:
gdp_df.head(10)

       Country  Year  GDP_Per_Capita
0  Afghanistan  2021     1517.016266
1  Afghanistan  2020     1968.341002
2  Afghanistan  2019     2079.921861
3  Afghanistan  2018     2060.698973
4  Afghanistan  2017     2096.093111
5  Afghanistan  2016     2101.422187
6  Afghanistan  2015     2108.714173
7  Afghanistan  2014     2144.449634
8  Afghanistan  2013     2165.340915
9  Afghanistan  2012     2122.830759

In [7]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7662 entries, 0 to 7661
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  7662 non-null   object
 1   Year             7662 non-null   int64
 2   Value            7662 non-null   float64
 3   Value Footnotes  0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 239.6+ KB

6. Drop the `Value Footnotes` column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.

In [9]:
del gdp_df['Value Footnotes']   # this deletes column value footnotes

In [10]:
gdp_df.info()   #to check that column was deleted

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7662 entries, 0 to 7661
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  7662 non-null   object
 1   Year             7662 non-null   int64
 2   Value            7662 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 179.7+ KB

In [11]:
gdp_df.columns = ['Country', 'Year', 'GDP_Per_Capita']   #rename columns

In [12]:
gdp_df.info()   #to check that columns were renamed correctly

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7662 entries, 0 to 7661
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         7662 non-null   object
 1   Year            7662 non-null   int64
 2   GDP_Per_Capita  7662 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 179.7+ KB

7. How many countries have data for all years? Which countries are missing many years of data? Look at the number of observations per year. What do you notice?

In [26]:
missing = gdp_df.isnull().sum()
print(missing)

Country           0
Year              0
GDP_Per_Capita    0
dtype: int64